
//  COLORES:

$colorLogo: #7e0c0c;
//$colorNav: #1b7161;
$colorNav: rgb(50, 36, 66);
$colorNavText: #f6c82d;
$colorNavHover: #e9c44c;
$colorBordeMorado: rgb(50, 36, 66);
$colorFondo: lighten(rgb(0, 0, 0), 85%);
$colorFondoText: #f0f0f0;
$colorBronce: #cd7f32;

// FUENTES:

//$font-button: 'Montserrat', sans-serif;
//$font-button: 'Lato', sans-serif;
//$font-button: 'Merriweather', sans-serif;
$font-card-name: 'Raleway', sans-serif;
$font-button: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;