@use "variables" as *;
@use "mixins" as *;

//========================================================================
/* PANTALLAS DE MOVIL HASTA 656PX DISEÑO MOVIL FIRST */
//========================================================================
* {
	box-sizing: border-box;
	margin: 0%;
	scroll-margin-top: 3em; //para salvar el espacio del nav al ir a enlaces
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: $colorFondo;
	border: solid 2px $colorBordeMorado;
}
header {
	@include header;
}

nav {
	@include nav;
}

main {
	grid-column: 1/ 13;
	grid-row: 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 2rem;
	margin-bottom: 2rem;
	@include media(tablet) {
		grid-column: 2/ 12;
		grid-template-columns: repeat(3, 1fr);
	}
}
.aviso-legal {
	grid-column: 1 / 13;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 2rem 4rem 2rem 4rem;
	@include media(tablet) {
		padding: 4rem 8rem 4rem 8rem;
	}
	background-color: $colorFondo;
	color: $colorNav;
	line-height: 1.6;
	font-family: "Poppins", sans-serif; // Aplicado también a esta sección para asegurar consistencia

	h1 {
		font-size: 2.2rem;
		font-weight: bold;
		margin-bottom: 1.5rem;
		color: $colorNav;
	}

	h3 {
		font-size: 1.8rem;
		font-weight: bold;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		color: rgb(33, 34, 35);
	}

	p {
		font-size: 1.2rem;
		margin-bottom: 1rem;
		text-align: justify;
	}

	blockquote {
		font-style: italic;
		border-left: 4px solid $colorFondo;
		padding-left: 1rem;
		margin: 1rem 0;
		color: darken($colorNav, 20%);
	}

	pre {
		background-color: darken($colorFondo, 10%);
		padding: 1rem;
		border-radius: 5px;
		overflow-x: auto;
	}
}

@include footer;
