@use "variables" as *;
@use "mixins" as *;

//========================================================================
/* PANTALLAS DE MOVIL HASTA 656PX DISEÑO MOVIL FIRST */
//========================================================================
* {
	box-sizing: border-box;
	margin: 0%;
	scroll-margin-top: 3em; //para salvar el espacio del nav al ir a enlaces
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: $colorFondo;
	border: solid 2px $colorBordeMorado;
}

header {
	@include header;
  }

nav {
	@include nav;
}

.separador {
	margin-top: 6rem;
}

.faq {
    grid-column: 1/ 13;
    background-image: url(../img/fondoFaq2.jpg);
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    flex-direction: column;
    
    h1 {
        color: $colorNav;
        padding: 1.5rem;
        font-size: 2.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		padding-top: 0em;
		margin: 1rem;
    }

    .pregunta {
        font-style: oblique;
        font-weight: bold;
        font-size: larger;
        padding: 1rem;
        color: darkblue;
    }

    .respuesta {
        margin-bottom: 1rem;
        color: #000000;
        font-size: medium;
    }

    ul {
        list-style: none;
        margin-left: 2rem;
        padding: 0;
       

        li {
            margin-bottom: 1rem;
        }
    }
}

@include media(tablet) {
    .faq {
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .respuesta {
        max-width: 50%;
    }
}

@include media(desktop) {
    .faq {
        padding: 4rem;
    }
}
@include footer;