@use "variables" as *;
@use "mixins" as *;

//========================================================================
/* PANTALLAS DE MOVIL HASTA 656PX DISEÑO MOVIL FIRST */
//========================================================================
* {
	box-sizing: border-box;
	margin: 0%;
	scroll-margin-top: 3em; //para salvar el espacio del nav al ir a enlaces
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: $colorFondo;
	border: solid 2px $colorBordeMorado;
	

	header {
		@include header;
	  }
}

nav {
	@include nav;
}
.separador {
	display: none;
}
.carrusel {
	display: none;
}
main {
	grid-column: 1/ 13;
	grid-row: 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 2rem;
	margin-bottom: 2rem;
	@include media(tablet) {
		grid-column: 2/ 12;
		grid-template-columns: repeat(3, 1fr);
	}
	
}
/*Tarjetas de productos*/

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 8%;
	margin: 0.5rem;
	border-radius: 1rem;
	block-size: 98%;
	background: white;

	a {
		text-decoration: none;
	}

	&:hover {
		justify-self: center;
		align-self: center;
		width: 94%;
		height: 94%;
		border: solid 4px $colorBordeMorado;
		transition: 0.3s ease;
	}
	.image-container {
		width: 100%;
		height: 254px;
		overflow: hidden;
		position: relative;
		transform-style: preserve-3d;
		transition: transform 0.9s;
		perspective: 1000px;
		@include media(tablet) {
		height: 219px;
		}
		@include media(desktop) {
		height: 399px;
		}

		.image-flip {
			width: 100%;
			position: relative;
			transform-style: preserve-3d;
			transition: transform 0.9s;

			img {
				position: absolute;
				width: 95%;
				backface-visibility: hidden;
				object-fit: cover;
				
			}

			.back {
				transform: rotateY(180deg);
			}
		}

		&:hover .image-flip {
			transform: rotateY(180deg);
		}
	}

	.menuDescripcion {
		display: block;
		padding: 18px;
		font-size: 14px;
		color: #555;
	}

	span {
		display: block;
		margin: 5px 0;
		font-size: 16px;
		font-family: $font-card-name;
		font-weight: bold;
		color: #333;
		
	}

	button.add {
		margin: 10px 0;
		padding: 10px 20px;
		font-size: 1.3rem;
		font-family: $font-button;
		background-color: $colorBordeMorado;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			background-color: $colorNavHover;
			color: $colorLogo;
		}
	}
}

@include footer;

@include media (desktop) {


	.carrusel {
		grid-row: 3;
		display: block;
		margin-top: 1em;
		margin-bottom: 1rem;
		grid-column: 1 / 13;
		grid-row: 3;
		position: relative;
		margin-left: 15%;
		margin-right: 15%;
		width: 70vw;

		.c_track-container {
			position: relative;
			overflow: hidden;
			margin: 0;
		}

		.c_track {
			display: flex;
			transition: transform 0.5s ease-in-out;
			list-style: none;
		}

		.c_slide {
			min-width: 100%;

			.current_slide {
				opacity: 1;
			}
		}

		.c_image {
			width: 100%;
			display: block;
			height: auto;
			padding-right: 5%;
		}

		.c_button {
			position: absolute;
			top: 50%; /* Centra verticalmente */
			transform: translateY(-50%);
			background: #a09f9f;
			border: none;
			cursor: pointer;
			opacity: 0.3;
			z-index: 10;
			width: 40px; /* Ajusta el tamaño */
			height: 40px;
			border-radius: 50%; /* Forma circular */
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				opacity: 1;
			}

			&.c_left {
				left: -20px; /* Ajusta según tu diseño */
			}

			&.c_right {
				right: -20px; /* Ajusta según tu diseño */
			}
		}

		.c_nav {
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0.6;
			margin-top: 1em;

			.c_indicator {
				margin: 0 5px;
				cursor: pointer;
				border-radius: 50%;
				margin: 0.5em;
				width: 10px;
				height: 10px;
				background-color: #000000;
				transition: background-color 0.3s ease;

				&.current-slide {
					background-color: #ffffff;
				}
			}
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.separador {
		grid-row: 4;
		display: block;
		grid-column: 1/ 13;
		padding: 6px;
		background-color: $colorBronce;
		margin: 6rem 0px 8rem 0px;
	}
	main {
		grid-row: 5;
	}
}

